{% extends 'base.html.twig' %}

{% block title %}Klant index{% endblock %}

{% block body %}
    <h1>Klant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Naam</th>
                <th>Adres</th>
                <th>Postcode</th>
                <th>Woonplaats</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for klant in klants %}
            <tr>
                <td>{{ klant.id }}</td>
                <td>{{ klant.naam }}</td>
                <td>{{ klant.adres }}</td>
                <td>{{ klant.postcode }}</td>
                <td>{{ klant.woonplaats }}</td>
                <td>{{ klant.email }}</td>
                <td>
                    <a href="{{ path('klant_show', {'id': klant.id}) }}">show</a>
                    <a href="{{ path('klant_edit', {'id': klant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('klant_new') }}">Create new</a>
{% endblock %}
