{% extends 'base.html.twig' %}

{% block title %}BestelItem index{% endblock %}

{% block body %}
    <h1>BestelItem index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Datum</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bestel_item in bestel_items %}
            <tr>
                <td>{{ bestel_item.id }}</td>
                <td>{{ bestel_item.datum ? bestel_item.datum|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('bestel_item_show', {'id': bestel_item.id}) }}">show</a>
                    <a href="{{ path('bestel_item_edit', {'id': bestel_item.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('bestel_item_new') }}">Create new</a>
{% endblock %}
